/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #97a999;
  --link-color: #97a999;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


  
/* ==== CONTAINER ==== */
.container {
  width: 100%;

}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 1.5rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}

/* ====  EVENT-MODULES  ==== */
.page-container {
    max-width: 70%;
    margin: 0 auto;
  }
.main-heading {
    color: var(--primary-color);
    text-align: center;
    line-height: 1.75;
    font-size: 20px;
    font-weight: 750;
    font-style: italic;
    padding-top: 2em;
}

.main-content{
    padding-top: 2.5em;
    font-size: 18px;
    line-height: 1.5;
    text-justify:inter-word;
    text-align: justify;
}

.main-content a{
    font-style: italic;
    color:var(--link-color);
}

.btn_wrapper {
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .btn {
    width: 250px;
    height: 80px;
    background-color: var(--primary-color);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
  }
  .btn:hover {
    transform: translateY(-3px);
    background-color: var(--btn-hover-color);
  }
  .view_more_btn {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 500;
    margin-right: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  }
  .view_more_btn i {
    margin-left: 0.7rem;
  }
  .view_more_btn:hover {
    transition: box-shadow 0.25s ease, transform 0.25s ease;
  }
  
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}



/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 2rem;
  }
}